<!DOCTYPE html>
<html lang="en">
<head><link rel="stylesheet" type="text/css" href="/assets/styles/translator.css" />
<script type="text/javascript" src="/assets/js/jquery-latest.min.js"></script>
<!--<script type="text/javascript">-->
<!--$(document).ready(function(){-->
    <!--for(var i in $.find('.ta')){-->
       <!--$($(".ta")[i]).css("height", $($(".ta")[i]).prop("scrollHeight"));-->
    <!--}});-->
<!--</script>-->
<script type="text/javascript">
    function empty_only(){
        $($('.translation[value!=]')).parent().parent().hide();
        $('#empty_only').attr('disabled','disabled')
        $('#all').removeAttr('disabled');
    }
    function show_all(){
        $('.translation').parent().parent().show();
        $('#empty_only').removeAttr('disabled');
        $('#all').attr('disabled','disabled');
    }
    $(document).ready(function(){
        $('#empty_only').click(empty_only);
        $('#all').click(show_all);
        empty_only();
    });
</script>
</head>
<body>
<h1>${_('Translate messages for ')}${[lang[1] for lang in languages if lang[0]==lang_to][0]}</h1>
<p>${_('Show:')}</p> <button id="empty_only">Empty only</button> <button id="all">All</button>
<div id='translation'>
    <form method='post' action="/${language}/translate/${lang_to}" id='translation_form'>
        <table>
            <tr><td>${_('Message in english')}</td><td>${_('Translation')}</td>
                %if not role or role =='Administrator':
                    <td>${_('Visibility')}</td>
                %endif
                <td>See in</td></tr>
            % for msg in msgs.fetchall():
                <%doc>
                    ['terms condition text', 'faq text', 'about us text']
                    es igual a ['4f16c904fbb170d18a4f6466fe94c6e8', '5ceeabee9ae7ec7ba45782be17850ef5', '9d5276f5a1f7d702ad837a474060f039']
                </%doc>

                    <tr>
                        <td><textarea class="ta" name="msgid[]" readonly>${msg[0]}</textarea></td>
                        <td><textarea class="translation" name="msg[]">${msg[1]}</textarea></td>
                        %if not role or role =='Administrator':
                            <td><select name="msglvl[]">
                                <option value=""></option>
                                %for level in levels:
                                    <option value="${level}"
                                            %if level == msg[2]:
                                                selected="selected"
                                            %endif
                                            >${level}</option>
                                %endfor
                            </select></td>
                        %endif
                        <td>
                            %if not role or role =='Administrator':
                                <input type="text" name="msgurl[]" value="${msg[3] if msg[3] else ''}" />
                            %else:
                                <a href="${msg[3]}" target="_blank">${msg[3] if msg[3] else ''}</a>
                            %endif
                        </td>
                    </tr>
            % endfor
            <tr><td></td><td></td><td><button>${_('Submit')}</button></td><td></td></tr>
        </table>
    </form>
</div></body>
</html>